@use '../../../assets/scss/main.scss' as *;

.containerCategoriesBar {
  background-color: #ffff;
  margin: 0 24px;
  border-radius: 20px;
  padding: 10px;
}

.categoriesTitleBar {
  margin: 0 6px;
}

.titleBar {
  font-size: 18px;
  font-weight: 600;
}

.categoriesBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 50;
    background-color: #0000;
  }
}