@use '../../../assets/scss/main.scss' as *;

.titlebar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 24px;
  padding-top: 14px;
  margin-bottom: 14px;
  &Btn {
    margin: 8px;
    cursor: pointer;
  }
  &Login {
    padding: 8px;
    font-size: 0.813rem;
  }
}

.icon {
  margin-left: 3px;
}

.primaryBtn {
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover {
    background-color: darken($color-primary, 4%);
    border-color: darken($color-primary, 4%);
  }
  &:active {
    background-color: darken($color-primary, 4%);
    border-color: darken($color-primary, 4%);
  }
  &:focus {
    background-color: darken($color-primary, 4%);
    border-color: darken($color-primary, 4%);
    box-shadow: none;
  }
}